* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 99;
}

ul#menu {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul#menu li {
  list-style: none;
  margin: 0 12px;
}

ul#menu li a {
  color: #f4f4f4;
  text-decoration: none;
}

ul#menu li a:hover {
  color: skyblue;
}

section h1 {
  color: #0074d9;
}

section h2 {
  color: #3c4858;
}

section h3 {
  color: #3c4858;
}

section p {
  color: #999;
}

section {
  height: 500px;
}

.panel {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.skill-list {
  padding: 20px;
  line-height: 25px;
}

.about-me {
  width: 90%;
  max-width: 640px;
  text-align: center;
  padding: 10px;
}

.contact-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.contact-method div {
  padding: 20px;
}

.contact-method div p {
  line-height: 25px;
}

.contact-method div p a {
  color: #fff;
  text-decoration: none;
}

.my-extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.my-extension div img {
  display: none;
}

.my-extension .feature {
  line-height: 25px;
}

#install-extension {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#install-extension:hover {
  background-color: #0074d9;
  color: #fff;
}

section#about {
  background: url("../images/about.jpg") no-repeat center center/cover;
}

section#experience {
  background: url("../images/experience.jpg") no-repeat center center/cover;
}

section#project {
  background: url("../images/project.jpg") no-repeat center center/cover;
}

section#skill {
  background: url("../images/skill.jpg") no-repeat center center/cover;
}

section#contact {
  background: url("../images/contact.jpg") no-repeat center center/cover;
}

.progress {
  width: 90%;
  max-width: 640px;
}

.progress li {
  position: relative;
  list-style: none;
  color: #999;
  line-height: 25px;
  width: 65%;
}

.progress li:before {
  top: 5px;
  left: 90px;
  position: absolute;
  content: "";
  height: 15px;
  width: 100%;
  background: rgba(0, 116, 217, 0.5);
}

.progress li:after {
  top: 5px;
  left: 90px;
  position: absolute;
  content: "";
  height: 15px;
  width: 0;
  background: rgba(0, 116, 217, 1);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.progress li.html:after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

.progress li.css:after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 90%;
  }
}

.progress li.js:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 85%;
  }
}

.progress li.react:after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 80%;
  }
}

.progress li.node:after {
  animation-name: node;
}

@keyframes node {
  to {
    width: 70%;
  }
}

.small {
  display: none;
}

/* Responsive */

@media (max-width: 375px) {
  #skill .panel {
    padding-top: 0;
  }
  .skill-list {
    padding: 0;
  }

  .normal {
    display: none;
  }

  .small {
    display: block;
  }
}

@media (max-width: 375px) {
  ul#menu li {
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  .about-me {
    width: 70%;
  }

  .progress {
    width: 70%;
  }

  .progress li {
    width: 90%;
  }

  .contact-method {
    flex-direction: row;
  }
}

@media (min-width: 1366px) {
  .my-extension {
    flex-direction: row;
  }

  .my-extension div:nth-child(1) {
    padding: 20px;
  }

  .my-extension div img {
    width: 500px;
    height: auto;
    display: block;
  }
}
